/****** PLACE YOUR CUSTOM STYLES HERE ******/
.boxed {
	background-color: blue;
}.lead {
	size: 100px;
}
."pricing-table pt-2 text-center boxed" {
	background-color: blue;
}."btn btn-white mb32" {font-family: arial;
body {
    background-image: url("paper.gif");
    background-color: #cccccc;
}
.row {
background-color: blue;
}
.bg-secondary {
	background-color: blue;
}
.row {
	color: blue;
}.tab-title {
	
}
."tabbed-content button-tabs" {
	size: 9000px
}
.tabs {
	height: 200px;
	width: 50px;
	background-color: blue;
}

.tab-title {
	height: 200px;
}
.button-tabs }
background: #31708f;
}

.tab-title {
	font-color
}

.col-sm-4 {
	color: black;
}

.pb64pb-xs-40bg-secondary {
	color: blue;
}
h1 [
text-align: center;
}
.paypal {
	img
	
.image-bg p, .image-bg span, .image-bg li {
    color: #000000;
}

.image-bg {
	color: #000000;
}

.first {
    width: 100%;
    height: 1000px;
    background: #ccc;
}

.second {
    width: 100%;
    height: 1000px;
    background: #999;
}
	